@using System.Globalization
@{
    ViewBag.Title = "Welcome - Updated";
}

<br />
<br />

<h2 class="label label-info">Welcome to my page - Updated</h2>
<br />
<br />

<div class="well">
    The minimal MVC5 application with
    <ol>
        <li>ASP.NET version @Environment.Version</li>
        <li>Bootstrap</li>
        <li>JQuery</li>
    </ol>
</div>
<div>
    <label class="label label-info">Server time @DateTime.Now.ToString(CultureInfo.InvariantCulture)</label>
    <br />
    Listing count: @ViewBag.ListingCount
    <br />
    ApplicationVersion - @ViewBag.ApplicationVersion
    <br />
    DbVersion: @ViewBag.LastestVersion at @ViewBag.LastestVersionDate
</div>

<br />
<br />
<div>
    <small>
        <a href="https://github.com/netvietdev/aspnetmvc5-minimal">
            <span class="glyphicon glyphicon-home"></span>
            Github
        </a>
    </small>
</div>
