@{
    ViewBag.Title = "New";
}
@model Demo.XBanking.Models.LineItem

<h2>Post a new LineItem</h2>

@if (Model != null)
{
    <h2>Message detail</h2>
    <div>
        @Html.Raw(Model.Message)
    </div>
}

<h2>The form</h2>
<form method="post" enctype="multipart/form-data" action="@Url.Action("New")">
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", placeholder = "Enter a number" })
    </div>

    <div class="form-group">
        @Html.TextAreaFor(m => m.Message, new { @class = "form-control", placeholder = "Enter your message" })
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>
